@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

h1 {
    text-align: center;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.itens {
    background-color: rgba(18, 18, 176, 0.549);
    height: 400px;
    width: 400px;
    border-radius: 5px;
    display: grid; 
    place-items: center;
    text-align: center;
}
